.box {
  height: 487px;
  position: relative;
  width: 1251px;
}

.box .hero-header-section {
  height: 487px;
  left: 300px;
  position: fixed;
  top: 200px;
  width: 650px;
}

.box .overlap-group {
  height: 487px;
  left: 500px;
  position: absolute;
  top: 0;
  width: 488px;
}

.box .text-wrapper {
  position: relative;
  white-space: nowrap;
  max-width: 488px;
  max-height: fit-content;
}

.box .div {
  left: 0;
  position: absolute;
  top: 173px;
  white-space: nowrap;
}

.title {
  font-family: Lato;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  word-wrap: normal;
}

.lead {
  font-family: Lato;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}

.cta {
  display: inline-flex;
  padding: 16px 28px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #510b60;
  color: white;
}

.img1 {
  size: ;
}
